* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    background-image: linear-gradient(60deg, #59D9B5, #89D9D1);
}

.conteiner_geral {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteiner_subgeral {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 600px;
    box-shadow: 0px 7px 10px #4cb497;
}



div .conteiner_logotipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;

}

div img {
    margin-bottom: 30px;
    width: 190px;

}

h2,
p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #858585;
}

div .conteiner_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}



div [type="button"] {
    font-size: 17px;
    font-weight: bold;
    background-color: #6BF2C1;
    color: white;
    border: 0;
    border-radius: 30px;
    width: 250px;
    height: 50px;
}

div [type="button"]:hover {
    cursor: pointer;
    transform: scale(1.05);


}

div .conteiner_form2 [type="button"] {

    background-color: #686868;
}